---
title: Configuring Transaction Analytics
owner: Partners
---

This document describes how to configure an analytics agent and view transaction analytics on the AppDynamics controller.


## <a id="snapshot"></a> Feature Snapshot

 - Transaction Analytics feature is supported on v4.4.337 and later.
 - If your AppDynamics controller has license for analytics monitoring, you can monitor application analytics.


## <a id="step1"></a> Step 1: Configure Tile for Analytics

1. Paste in the **Global Account Name** and **Access Key** from the AppDynamics Controller license page. 
  ![License Page](../images/Analytics.png)

1. Specify the AppDynamics **Analytics Event Service URL** if you already have one. If you do not have one, contact AppDynamics support. The Analytics Event Service URL is in the following format: `http://analytics-event-service.com:80`.

1. Click **Save**.

1. After the tile updates successfully, get the route of the appdanalytics application by running the following command:
    <pre class="terminal">

    pavan.krishna@OSXLTPKrishna:~/docs-appdynamics (master)$ cf target -o appdynamics-org
    api endpoint:   https://api.sys.pie-20.cfplatformeng.com
    api version:    2.103.0
    user:           admin
    org:            appdynamics-org
    space:          appdynamics-space
    
    
    pavan.krishna@OSXLTPKrishna:~/docs-appdynamics (master)$ cf apps
    Getting apps in org appdynamics-org / space appdynamics-space as admin...
    OK

    name                       requested state   instances   memory   disk   urls
    appd-node-demo             started           1/1         500M     1G     appd-node-demo.cfapps.pie-20.cfplatformeng.com
    appdanalytics-4.4.337      started           1/1         1G       1G     appdanalytics.cfapps.pie-20.cfplatformeng.com
    appdpcfdashboard-4.4.337   started           1/1         128M     1G     appdpcfdashboard.cfapps.pie-20.cfplatformeng.com
    appdservice-4.4.337        started           1/1         256M     1G     appdservice.cfapps.pie-20.cfplatformeng.com
    spring-music               started           3/3         1G       1G     spring-music-quick-hedgehog.cfapps.pie-20.cfplatformeng.com

</pre>		                                      																																									      	


## <a id="step2"></a> Step 2: Bind Application to Analytics Agent

After deploying the tile, follow the steps below to bind an application with the analytics agent to collect analytics data.

<p class="note"><strong>Note:</strong> The analytics agent only works with Java, .NET, and Node.js applications.</p>

1. Set a Java system property on the application to forward data to the analytics agent.
    <pre class="terminal">$ cf set-env TARGET-APP-NAME JAVA_OPTS "-Dappdynamics.analytics.agent.url=<span>http:</span>//appdynamics-analytics.DOMAIN-NAME/v1/sinks/bt"</pre>
    In the example above, `appdanalytics.cfapps.pie-20.cfplatformeng.com` is the URL of the analytics agent running in the **AppDynamicsPCFOpsMetrics-service-org** org.

1. Restage the application for the changes to take effect.
    <pre class="terminal">$ cf restage TARGET-APP-NAME</pre> 


## <a id="step3"></a> Step 3: Configure Controller to Fetch Data from Event Service

 - **For customers using SaaS controllers**: Your controller is already configured to fetch data from a SaaS event service.
 - **For customers using an on-premise controller**: Log in to your controller as an admin and configure the event service URL and controller key for authentication, as shown below.

![AdminPage](../images/ControllerAdminForAnalytics.png)

For help with this configuration, contact AppDynamics support.


## <a id="step4"></a> Step 4: Configure Analytics Collector on the Controller

On your AppDynamics controller, follow these steps to configure the analytics collector for a target application.

1. Click **Analytics**. 
  ![ConfigureAnalyticsCollector](../images/Analytics3.png) 

1. From the **Configure Analytics for Applications** drop-down, choose the same target application for which you set the Java system property in the previous step. 

1. Select the checkbox to enable analytics data. 

1. Add transactions for which you wish to report analytics data.
  ![enter image description here](../images/Analytics4.png) 

1. (Optional) Configure the **HTTP Data Collectors** and **Transactions for GUID Injection** fields. For more information, see the AppDynamics documentation:    
  - [Configure HTTP Data Collectors](https://docs.appdynamics.com/display/PRO42/Configuring+Transaction+Analytics): This enables collection of additional business data using HTTP data collectors.
  - [Configure Transactions for GUID Injection](https://docs.appdynamics.com/display/PRO42/Business+Transaction+and+Log+Correlation): By configuring business transactions for GUID injection, you can correlate logs to specific business transaction requests. This can be helpful when you see slow transactions and the call graph does not give you enough information to get to the root cause. You can use this feature to get the full context related to a failed or slow transaction.
   ![Optional Fields](../images/Analytics5.png)
