---
title: AppDynamics Pivotal Cloud Foundry Tile FAQs
owner: Partners
---

## <a id='GeneralFAQs'></a> General FAQs

### <a id='g1'></a> What is included in the AppDynamics Tile?

* **AppDynamics Service Broker** --- for application instrumentation
* **AppDynamics Analytics** --- for transaction analytics

### <a id='g2'></a> I am only interested in APM. Should I configure  Transaction Analytics?

For now, provide dummy values in the tile forms.
AppDynamics and Pivotal are working to have selective deployment option.

### <a id='g3'></a> How do I configure SSL (On-Prem Controller deployment)?

Make sure you have included the entire certificate chain in the security config of the BOSH Director tile.
This ensures that all BOSH deployments and Diego cells can access those certificates automatically while doing SSL validation.
AppDynamics deployments automatically reads the certificates and imports them into correct keystores.
No additional steps are needed.
Follow the exact format with no comments, as specified in the Pivotal Opsi Manager documentation.
Enable all SSL checkboxes in Tile Configuration Forms.

### <a id='g4'></a> How do I configure SSL (SaaS deployment)?

AppDynamics SaaS Controllers are signed with standard DigiCerts CA. They are already included in the BOSH deployments and application containers.

Enable all SSL checkboxes in Tile Configuration Forms.

### <a id='g5'></a> My installation failed. What should I send to AppDynamics Support?

Collect the error logs from the Ops Manager installation page and provide the entire deployment log.

### <a id='g6'></a> I am using the v1.x tile and planning to upgrade to v4.4.x. Should I uninstall v1.x before installing v4.4.x?

Yes, since the platform metrics framework has been rewritten to use the new Firehose nozzle instead of JMX Bridge.

### <a id='g7'></a> Will my apps that are bound to older AppDynamics Service Broker instances lose instrumentation while I uninstall v1.x and install v4.4.x?

No. The apps are oblivious to tile installs and uninstalls.
After the apps are bound, the AppDynamics configuration are present until the apps are restaged.

### <a id='g8'></a> How do I upgrade from v1.x to v4.4.x?

1. Record the names of your AppDynamics service instances and their corresponding plans before uninstalling your v1.x tile installation.

1. Uninstall your v1.x tile installation.

1. Install the v4.4.x tile with the plans you recorded.

1. Create service instances for the plans you recorded.

### <a id='g9'></a> I have carried out the procedure above. How do I restage my apps?

No additional steps are required to restage apps.


## <a id='SBFAQS'></a> AppDynamics Service Broker and Buildpacks - APM FAQs

### <a id='s1'></a> What is AppDynamics Service Broker?

AppDynamics Service Broker implements [Service Broker API](https://github.com/openservicebrokerapi/servicebroker) and provides a [credential service](https://docs.pivotal.io/pivotalcf/2-2/services/overview.html) for apps to bind. When bound, the necessary AppDynamics configuration is automatically imported into the app environment for buildpacks to read and configure AppDynamics agents.

### <a id='s2'></a> Can I bind apps to AppDynamics without the Service Broker and still instrument apps?

Yes. You can bind a user provided service by creating a user provided service. Do the following:

1. Run `cf cups SERVICE-NAME -p '{"account-access-key":"ACCESS-KEY", "account-name":"ACCOUNT", "application-name":"APP", "host-name":"HOST", "plan-description":"PLAN", "plan-name":"NAME", "port":"PORT", "ssl-enabled":TRUE|FALSE'  `

1. Bind the app to the user-provided service and restage.

### <a id='s3'></a> What language buildpacks have AppDynamics support included?

The buildpacks listed below are supported. The [AppDynamics documentation for Pivotal](https://docs.appdynamics.com/display/PCF) includes several step-by-step example workflows with sample applications.

|  Language | Workflow | Cloud Foundry Buildpack |
|---|---|---|
| Java  | [Java Application Workflow](https://docs.appdynamics.com/display/PCF/Java+Application+in+PCF+-+Monitoring+Workflow) | [Java buildpack](https://github.com/cloudfoundry/java-buildpack)  |
| .NET  | [.NET Application Workflow](https://docs.appdynamics.com/display/PCF/.NET+Application+in+PCF+-+Monitoring+Workflow)  | [.NET buildpack](https://github.com/Appdynamics/hwc-buildpack) |
| PHP  | [PHP Application Workflow](https://docs.appdynamics.com/display/PCF/PHP+Application+in+PCF+-+Monitoring+Workflow) | [PHP buildpack](https://github.com/cloudfoundry/php-buildpack)  |
| Python  | [Python Application Workflow](https://docs.appdynamics.com/display/PCF/PHP+Application+in+PCF+-+Monitoring+Workflow) | [Python buildpack](https://github.com/cloudfoundry/python-buildpack#develop)  |
| NodeJS | | [NodeJS buildpack](https://github.com/cloudfoundry/nodejs-buildpack)  |
|  Go | [Go Application Workflow](https://github.com/Appdynamics/cloudfoundry-apps/tree/master/cf-go) | [Go Cloud Foundry buildpack](https://github.com/cloudfoundry/go-buildpack)  |

### <a id='s4'></a> I have a deployment with no internet access. How do I push the apps?

You can use the Java buildpack shipped with CF environments directly. The AppDynamics support has been merged. Any Java buildpack version released after Nov 2017 should work.

In addition, you must place the AppDynamics agent downloaded from `packages.appdynamics.com/java/index.yml`. See the [Offline Package](https://github.com/cloudfoundry/java-buildpack#offline-package) section of the _Cloud Foundry Java Buildpack_ documentation.

### <a id='s5'></a> How do I customize AppName, TierName, and NodeName?

AppDynamics Buildpacks auto-generate App, Tier, and Node names by looking into the deployed environment. You can customize this auto-generation by setting the configuration environment variables.

To override the following environment, run `cf set-env APP ENV-NAME ENV-VALUE`.

| AGENT |	APPLICATION ENV VARIABLE |	TIER ENV VARIABLE |	NODE ENV VARIABLE |
| --- | --- | --- | --- |
| Python |	APPD_APP_NAME |	APPD_TIER_NAME |	APPD_NODE_NAME |
| Java |	APPDYNAMICS_AGENT_APPLICATION_NAME |	APPDYNAMICS_AGENT_TIER_NAME |	APPDYNAMICS_AGENT_NODE_NAME |
| NodeJS |	APPDYNAMICS_AGENT_APPLICATION_NAME|	APPDYNAMICS_AGENT_TIER_NAME | APPDYNAMICS_AGENT_NODE_NAME |
| Golang |	APPD_APP_NAME |	APPD_TIER_NAME |	APPD_NODE_NAME |

### <a id='s6'></a> How do I configure the Java buildpack to fetch a particular agent version?

By default, Buildpack fetches the latest available agent entry in `packages.appdynamics.com/java/index.yml`. You can override the default behavior by setting these variables specified under [Configuration](https://github.com/cloudfoundry/java-buildpack/blob/master/docs/framework-app_dynamics_agent.md#configuration) in the [AppDynamics Agent Framework README](https://github.com/cloudfoundry/java-buildpack/blob/master/docs/framework-app_dynamics_agent.md).
  * To use a specific version, set the env JBP_CONFIG_APP_DYNAMICS_AGENT:
     + `cf set-env YOUR-APP-NAME JBP_CONFIG_APP_DYNAMICS_AGENT '{version: 4.4.111}'`
  * To use another package index, set the env JBP_CONFIG_APP_DYNAMICS_AGENT:
     + `cf set-env YOUR-APP-NAME JBP_CONFIG_APP_DYNAMICS_AGENT '{repository_root: "https://exmple.duckdns.org"}' `

### <a id='s7'></a> The Java buildpack does not fetch a particular agent version. What should I do?

If you are using the default package index, verify that the version in question is present by running `curl -sSL https://packages.appdynamics.com/java/index.yml -H "user-agent: Ruby" -H "accept-encoding: gzip;q=1.0,deflate;q=0.6,identity;q=0.3" -H "accept: */*"`.

If it does not show up in the output, reach out to AppDynamics Support or the #java-buildpack channel of the Cloud Foundry Slack.

### <a id='s9'></a> My app push fails. What should I send to AppDynamics Support?

  * `cf push` logs
  * App manifest, if present

### <a id='s10'></a> My app is running, but I do not see any metrics in Controller. How do I troubleshoot?

Run `cf env application` and see if the `VCAP_SERVICES` environment variable has AppDynamics information.
     * If no, bind the app to AppDynamics service and restage.
     * If yes, ensure all credentials (Controller info, key, SSL) are correctly set. If you are using SSL, ensure it is enabled ("ssl: true") in `VCAP_SERVICES`.

### <a id='s12'></a> What should I send to AppDynamics Support?

  * cf logs {appname}
  * cf env {appname}
  * cf ssh {appname}
      + Find the process ID of the running app by running `ps aux`.
      + cat /proc/{pid}/environ
      + Agent logs

| AGENT  | LOGS  |
| ------------ | ------------ |
|  NODE.JS  | /tmp/appd/{hash} |
| JAVA   | /app/.java-buildpack/app_dynamics_agent/ver<agent_version>/logs |

## <a id='AAFAQS'></a> Transactional Analytics Agent FAQs

### <a id='t1'></a> How do I configure Analytics Agent?

See [Configuring Transaction Analytics](./analytics.html).

### <a id='t2'></a> How is Analytics Agent Packaged?

AppDynamics packages `Standalone Analytics Agent` into the tile.
When the tile is installed, it runs as a Java application on Pivotal Application Service (PAS).

### <a id='t3'></a> What analytics are supported?

Only transactional analytics are supported.

### <a id='t4'></a> How do I enable transactional analytics for an application?

  * Install the tile. This deploys the analytics agent on PAS.
  * The analytics agent listens on a URL, record the URL.
  * For the application, set the `JAVA_OPTS` environment variable as follows:

     `JAVA_OPTS: "-Dappdynamics.analytics.agent.url=http://<analytics-url>/v1/sinks/bt" `
  * Restage the application.

### <a id='t5'></a> What needs to be done to enable SSL communication between applications and the AppDynamics Analytics Service/Controller?
  * No additional configuration is required
  * The analytics agent container uses certificates imported into containers automatically
    by the BOSH director just like any other Java application container
  * A keystore is automatically created and managed by the standard Java buildpack
  * The certificate issued by BOSH director is present in /etc/ssl/certs/ca-certificates.crt

### <a id='t6'></a> How do I troubleshoot?
  * Check the logs
  * Check for any errors

<pre class="terminal">
  $  cf ssh appdanalytics-4.5.470 -c "cat /home/vcap/app/analytics-agent/logs/analytics-agent.log"
</pre>

<pre class="terminal">
  $ cf ssh appdanalytics-4.5.470 -c "cat /home/vcap/app/analytics-agent/logs/analytics-agent-http.log"
</pre>

### <a id='t7'></a> There are SSL errors in the logs? How do I check the certificate?
  * This certificate is automatically generated and imported into the container by PCF Ops Manager
  * If you are using On-Prem Controller with SSL installation.
     Make sure you have included the entire certificate chain in the security config of the BOSH Director tile.
  * To verify that the certificate is properly imported,
    check that the certficate chain `/etc/ssl/certs/ca-certificates.crt` is in the container
    and verify that the relevant certficate is present in the chain.

<pre class="terminal">
  $  cf ssh appdanalytics-4.5.470 -c "cat /etc/ssl/certs/ca-certificates.crt"
</pre>


### <a id='t8'></a> How is the keystore created from the CRT file?
  * AppDynamics uses the standard Java buildpack to create the analytics agent container.
  * As for any Java container, the buildpack automatically creates the TrustManager for `/etc/ssl/certs/ca-certificates.crt` and watches it.

<pre class="terminal">
  $  cf ssh appdanalytics-4.5.470 -c "grep -i TrustManager ~/app/analytics-agent/logs/*.log"
/home/vcap/app/analytics-agent/logs/analytics-agent.log:[2018-09-29T02:51:59,022Z]  [INFO ]  [main]  [o.c.s.CloudFoundryContainerTrustManagerFactory$PKIXFactory]  Adding System Trust Manager
/home/vcap/app/analytics-agent/logs/analytics-agent.log:[2018-09-29T02:51:59,022Z]  [INFO ]  [main]  [o.c.s.CloudFoundryContainerTrustManagerFactory$PKIXFactory]  Adding TrustManager for /etc/ssl/certs/ca-certificates.crt
/home/vcap/app/analytics-agent/logs/analytics-agent.log:[2018-09-29T02:51:59,211Z]  [INFO ]  [main]  [o.c.s.FileWatchingX509ExtendedTrustManager]  Initialized TrustManager for /etc/ssl/certs/ca-certificates.crt
</pre>

### <a id='t9'></a> What do we provide AppDynamics support?
* Analytics Agent container logs

<pre class="terminal">
  $  cf ssh appdanalytics-4.5.470 -c "cat /home/vcap/app/analytics-agent/logs/analytics-agent.log"
</pre>

<pre class="terminal">
  $ cf ssh appdanalytics-4.5.470 -c "cat /home/vcap/app/analytics-agent/logs/analytics-agent-http.log"
</pre>
