---
title: AppDynamics Application Performance Monitoring for PCF
owner: Partners
---

## <a id='overview'></a> Overview

Pivotal Cloud Foundry (PCF) is an open source cloud computing Platform as a Service (PaaS).
Developers can develop, deploy, operate, and scale cloud-native applications for public and private
clouds.

AppDynamics provides three tiles to support PCF 2.x (v2.0.7+) that are available on the Pivotal
Network for download and install in a PCF foundation.

* [AppDynamics Application Performance Monitoring for PCF](https://network.pivotal.io/products/p-appdynamics/)
* [AppDynamics Platform Monitoring for PCF](https://network.pivotal.io/products/appdynamics-platform/)
* [AppDynamics Application Analytics for PCF](https://network.pivotal.io/products/appdynamics-analytics)

### AppDynamics Application Performance Monitoring for PCF
To simplify APM setup, the [AppDynamics Application Performance Monitoring (APM) for Pivotal Cloud Foundry](https://network.pivotal.io/products/p-appdynamics/) (PCF) tile delivers a
service broker to support an AppDynamics marketplace service. The Controller parameters are
configured in the tile and automatically published to the marketplace when the tile is installed.
A PCF app can be bound to the marketplace service to consume the Controller credentials.

````
$ cf bind my-pcf-app my-appd-marketplace-service
````

Performing a push will utilize the integrated AppDynamics buildpack support to start the APM agent
based on the parameters from the marketplace service and start sending performance metrics to the
Controller.

````
$ cf push
````

The tile also installs the AppDynamics extension buildpack in the PCF environment. For more
information see the [buildpack support](https://docs.pivotal.io/partners/appdynamics/multibuildpack.html)
and [language-specific workflows](https://docs.pivotal.io/partners/appdynamics/using.html#workflows) sections to enable APM.

### AppDynamics Platform Monitoring for PCF
The [AppDynamics Platform Monitoring for PCF](https://network.pivotal.io/products/appdynamics-platform/) tile
provides visibility into the PCF platform where your AppDynamics-monitored applications are deployed.
The tile deploys a Firehose Nozzle that collects various KPI metrics and publishes them to a Controller.
The tile also deploys a Dashboard App that automatically creates KPI health rules and custom dashboards associated with the health rules.
The Dashboard App allows you to monitor the health and capacity of one or more PCF foundations.

### AppDynamics Application Analytics for PCF
The [AppDynamics Application Analytics for PCF](https://network.pivotal.io/products/appdynamics-analytics) tile supports collecting
Transaction Analytics in real-time from PCF apps to connect application performance, user experience, and business outcomes.
The tile deploys an analytics agent in the PCF environment that will forward transaction analytics events from
PCF apps to an AppDynamics events service.


## <a id='product-snapshot'></a> Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v4.6.22</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 1, 2019</td>
    </tr>
    <tr>
        <td>Pivotal Cloud Foundry Operations Manager </td>
        <td>v2.1.x, v2.2.x, v2.3.x, and v2.4.x</td>
    </tr>
    <tr>
        <td>Pivotal Application Service (formerly Elastic Runtime)</td>
        <td>v2.1.x, v2.2.x, v2.3.x, and v2.4.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>AppDynamics Controller Version</td>
        <td>v4.4.x or later</td>
    </tr>
</table>

<p class="note warning"><strong>WARNING:</strong> AppDynamics Application Performance Monitoring for PCF v4.5.556
   and earlier require an Ubuntu Trusty stemcell.
   The end of life date for Ubuntu Trusty is April 2019.
   If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>

## <a id="reqs"></a> Requirements

* AppDynamics Controller v4.4.x or later
* An AppDynamics account
* Pivotal Cloud Foundry v2.1.x, v2.2.x, v2.3.x, and v2.4.x

## <a id="feedback"></a> Feedback

Provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).

## <a id='license'></a> License

Users interested in AppDynamics can sign up for a [free trial license](https://portal.appdynamics.com/account/signup/signupForm).
