---
title: AppDynamics Application Performance Monitoring for PCF
owner: Partners
---

## <a id='overview'></a> Overview

The [AppDynamics Application Performance Monitoring (APM) for Pivotal Cloud Foundry](https://network.pivotal.io/products/p-appdynamics/) (PCF) allows you to easily deploy AppDynamics-monitored applications on [Pivotal Cloud Foundry](https://pivotal.io/platform) using an AppDynamics marketplace service. AppDynamics [Platform Monitoring for PCF](https://network.pivotal.io/products/appdynamics-platform/) provides visibility into the PCF platform where your AppDynamics-monitored applications are deployed.

AppDynamics APM for PCF supports performance monitoring of application metrics. AppDynamics agent code embedded or bundled with an application instruments the application code and publishes performance monitoring metrics and other details back to the Application Dashboard in the AppDynamics Controller web UI.


## <a id='product-snapshot'></a> Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v4.5.605</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 4, 2019</td>
    </tr>
    <tr>
        <td>Pivotal Cloud Foundry Operations Manager </td>
        <td>v2.0.x, v2.1.x, v2.2.x, v2.3.x, v2.4.x</td>
    </tr>
    <tr>
        <td>Pivotal Application Service (formerly Elastic Runtime)</td>
        <td>v2.0.x, v2.1.x, v2.2.x, v2.3.x, v2.4.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>AppDynamics Controller Version</td>
        <td>v4.4.x or later</td>
    </tr>
</table>

<p class="warning"><strong>WARNING:</strong> AppDynamics Application Performance Monitoring for PCF v4.5.556
   and earlier require a Trusty stemcell.
   The end of life date for Ubuntu Trusty Tahr is April 2019.
   If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>

## <a id="reqs"></a> Requirements

* AppDynamics Controller v4.4.x or later
* An AppDynamics account
* Pivotal Cloud Foundry v2.0.x, v2.1.x, v2.2.x, v2.3.x, v2.4.x

## <a id="feedback"></a> Feedback

Provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).

## <a id='license'></a> License

Users interested in AppDynamics can sign up for a [free trial license](https://portal.appdynamics.com/account/signup/signupForm).
