---
title: AppDynamics Application Performance Monitoring for Pivotal Platform
owner: Partners
---

## <a id='overview'></a> Overview

To simplify APM setup, the [AppDynamics Application Performance Monitoring (APM) for Pivotal Platform](https://network.pivotal.io/products/p-appdynamics/) (Pivotal Platform) tile delivers a
service broker to support an AppDynamics marketplace service. The Controller parameters are configured in the tile and automatically published to the marketplace when the tile is installed.

A Pivotal Platform app can be bound to the marketplace service to consume the Controller credentials.

````
$ cf bind-service my-pcf-app my-appd-marketplace-service
````

Performing a push will utilize the integrated AppDynamics buildpack support to start the APM agent
based on the parameters from the marketplace service and start sending performance metrics to the
Controller.

````
$ cf push
````

The tile also installs the AppDynamics extension buildpack in the Pivotal Platform environment. For more
information see the [buildpack support](https://docs.pivotal.io/partners/appdynamics/multibuildpack.html)
and [language-specific workflows](https://docs.pivotal.io/partners/appdynamics/using.html#workflows) sections to enable APM.


## <a id='product-snapshot'></a> Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v5.0.106</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 14, 2019</td>
    </tr>
    <tr>
        <td>Pivotal Platform Operations Manager </td>
        <td>v2.4.x, v2.5.x, v2.6.x, v2.7.x</td>
    </tr>
    <tr>
        <td>Pivotal Application Service (formerly Elastic Runtime)</td>
        <td>v2.4.x, v2.5.x, v2.6.x, v2.7.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>AppDynamics Controller Version</td>
        <td>v4.4.x or later</td>
    </tr>
</table>

## <a id="reqs"></a> Requirements

* AppDynamics Controller v4.4.x or later
* An AppDynamics account
* Pivotal Platform v2.4.x, v2.5.x, v2.6.x, v2.7.x

## <a id="feedback"></a> Feedback

Provide any bugs, feature requests, or questions to the [Pivotal Platform Feedback list](mailto:pivotal-cf-feedback@pivotal.io).

## <a id='license'></a> License

Users interested in AppDynamics can sign up for a [free trial license](https://portal.appdynamics.com/account/signup/signupForm).
