---
title: Installing and Configuring AppDynamics
owner: Partners
---

<p class="note"><strong>Note:</strong> For instructions for installing AppDynamics v1.x, see <a href="./installing_1_x.html">(Deprecated) Installing and Configuring AppDynamics APM (1.x version)</a>.</p>

This topic describes how to install and configure Appdynamics APM monitoring in Pivotal Cloud Foundry.


## <a id='before-you-start'></a> Before You Start

Do the following:

1. Create a [Pivotal Network](https://network.pivotal.io) account if you do not have one.

1. [Set Up the AppDynamics Controller](#set-up-appd-controller).


## <a id='set-up-appd-controller'></a> Set Up the AppDynamics Controller

Do the following:

1. [Define an Application and Tier in the Controller](#define-app-and-tier).

1. [Determine the Tier ID](#determine-app-id).

### <a id='define-app-and-tier'></a> Define an Application and Tier in the Controller

1. Log in to the Controller.

1. Go to the Applications page. At the top of the table, click **Create Application**.
  ![](./images/appd-create-app-01.png)

1. In the Create Application dialog box, click **Create an Application manually**, enter the application name, and click **OK**.
  ![](./images/appd-create-app-02.png)

1. In the Application Dashboard for the new app, go to **Tiers & Nodes**.

1. Click the Actions button at the top of the table and choose **Create App Server Tier**.
  ![](./images/appd-create-app-03.png)

1. Select the application type and click **Next**.
  ![](./images/appd-create-app-04.png)

1. Enter the tier name and description and click **Finish**.
  ![](./images/appd-create-app-05.png)

Note the Application Name and Tier Name before proceeding. You will need this information when you set up the Service Broker tile.

### <a id='determine-app-id'></a> Determine the Tier ID

1. In the Tiers & Nodes table for the application you just created, right-click on the tier and choose **View**.

1. Examine the page URL and look for the "component=<number>" string. This number is the tier ID.
      ![](./images/appd-component-id.png)

Note the Tier ID before proceeding. You will need this information when you set up the Service Broker tile.


## <a id='set-up-the-service-broker-tile'></a> Set Up the Service Broker Tile

1. Log in to Ops Manager.

1. If the AppDynamics Service Broker tile does not appear in the Installation Dashboard, click **Import a Product** in the left-side menu and import the AppDynamics tile.

1. Double-click the **AppDynamics** tile in the Installation Dashboard.

1. In the **Settings** tab, click **AppDynamics Controller Configuration**. Then click **Add**.
  ![](./images/install-02-appd-controller-config-add.png)

1. Enter the following Service Plan options. All of these fields are required. The [Java Agent configuration page](https://docs.appdynamics.com/display/LATEST/Java+Agent+Configuration+Properties) page includes descriptions for these options.
  * **Controller Configuration Name**
  * **Controller Configuration Description**
  * **Account Name** -- This is the account name used to access the Controller
  * **Account Access Key** -- In the Controller, click the gear icon  and choose **License > Account > Access Key**. If the Account Access Key includes one or more `$` characters, append a second `$` to every `$` included in the key string and surround the entire string with single quotes (').
  * **Controller Host**
  * **Controller Port**
  * **SSL Port** -- Do not enable.
    ![](./images/install-03-controller-config-options.png)

1. You can add multiple controller configurations by repeating steps 4 and 5. This will enable applications to bind to 
any of the entered configurations.

1. Click **Save** to save the changes and return to the Installation Dashboard.

1. In the **Settings** tab, click **AppDynamics Machine Agent Configuration**.

1. Enter the following options. All of these fields are required. The [Standalone Machine Agent Configuration Property Reference](https://docs.appdynamics.com/display/LATEST/Standalone+Machine+Agent+Configuration+Property+Reference) page includes descriptions for these options.
  * **Account Name** -- The account name used to access the Controller.
  * **Account Access Key** -- In the Controller, click the gear icon  and choose **License > Account > Access Key**. If the Account Access Key includes one or more `$` characters, append a second `$` to every `$` included in the key string and surround the entire string with single quotes (').
  * **Controller Host** Host name of the controller (e.g: 443-onprem-controller.e2e.appd-test.com:8090/controller).
  * **Controller Port** Port on which controller is listening (e.g: `8090`).
  * **SSL Enabled** -- Enable this if you have ssl enabled on the controller. The controller port must be `443` if enabled. Disabled by default
  * **Application Name** -- Enter the application name you defined previously.
  * **Tier Name** -- Enter the application and tier names you defined previously.
  * **Tier ID** -- Enter the component ID you identified previously.
  * **Node Name** -- Enter a name that corresponds to the Application Name, such as **_app-name_-node**.
  * **User Name** -- Must be an AppDynamics user account that has permissions to create both custom metric dashboards and custom Health Rules in the target application.
  * **Password** -- Password for the above AppDynamics user account.
  * **Nozzle Certificate Authority** -- set it to **reverselogproxy**. Do not set it to anything other than **reverselogproxy**.
  ![](./images/machine-agent-2.png)
    
1. Click **Save** to save the changes and return to the Installation Dashboard.

1. In the Installation Dashboard, click **Apply Changes** and wait for all the changes to get applied.



## <a id='SSL'></a> Configuring SSL

### <a id='SAAS'></a> SSL for SAAS Appdyanmics Controllers
  
Appdynamics SAAS controller use DigiCert Global Root CA. The tile automatically imports the DigiCert Global Root CA into the keystore
used by appdynamics Machine agent and the dashboard application, if present. 
  
Just check the SSL checkbox in Appdynamics Machine agent configuration and we are all set. 
  

### <a id='OnPrem'></a> SSL for OnPrem Appdyanmics Controllers
  
For OnPremise controller deployments, please upload your the root certificate for the internal CA that signed the Controller certificate for your on-premises Controller
in the secutiry configuration of the OpsManager Director. 
  
For example, for the case of **vSphere**, https://docs.pivotal.io/pivotalcf/2-0/customizing/vsphere-config.html#security-config

Please make sure to follow the exact format while entering multiple certificates as shown in the example above 

  <pre class='terminal'>
  -----BEGIN CERTIFICATE-----
ABCDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678AB
EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
GH12345678ABCDEFGH12345678ABCDEFGH12345678...
------END CERTIFICATE------
-----BEGIN CERTIFICATE-----
BCDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABB
EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
GH12345678ABCDEFGH12345678ABCDEFGH12345678...
------END CERTIFICATE------
-----BEGIN CERTIFICATE-----
CDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABBB
EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
GH12345678ABCDEFGH12345678ABCDEFGH12345678...
------END CERTIFICATE------
</pre>
  
## <a id='troubleshooting'></a> Troubleshooting

Follow the steps listed in the [extensions troubleshooting document](https://community.appdynamics.com/t5/Knowledge-Base/How-to-troubleshoot-missing-custom-metrics-or-extensions-metrics/ta-p/28695) in order to troubleshoot your issue. These are a set of common issues that customers might have faced during the installation of the extension. If these do not solve your issue, follow the last step on the troubleshooting document to contact the support team.
