---
title: Installing and Configuring AppDynamics
owner: Partners
---

<p class="note"><strong>Note:</strong> For instructions for installing AppDynamics v1.x, see <a href="./installing_1_x.html">(Deprecated) Installing and Configuring AppDynamics APM (1.x version)</a>.</p>

This topic describes how to install and configure AppDynamics APM monitoring in Pivotal Cloud Foundry (PCF).


## <a id='before-you-start'></a> Before You Start

Create a [Pivotal Network](https://network.pivotal.io) account if you do not have one.


## <a id='SSL'></a> Configuring SSL

If you are planning to use SSL, do the following based on the Controller type.

### <a id='SAAS'></a> SSL for SaaS AppDynamics Controllers

AppDynamics SaaS controller use DigiCert Global Root CA. The tile automatically imports the DigiCert Global Root CA into the keystore used by AppDynamics Machine Agent and the dashboard app, if present.

Enable the SSL checkbox in AppDynamics Machine Agent configuration.

### <a id='OnPrem'></a> SSL for OnPremise AppDynamics Controllers

For OnPremise Controller deployments, upload the root certificate for the internal CA that signed the Controller certificate for your OnPremise Controller in the security configuration of the BOSH Director.

For an example, see the [Security Page](https://docs.pivotal.io/pivotalcf/2-0/customizing/vsphere-config.html#security-config) section of the _Configuring Ops Manager Director on vSphere_ topic in the PCF documentation.

Make sure to follow the exact format below while entering multiple certificates.

  <pre class='terminal'>
  -----BEGIN CERTIFICATE-----
ABCDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678AB
EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
GH12345678ABCDEFGH12345678ABCDEFGH12345678...
------END CERTIFICATE------
-----BEGIN CERTIFICATE-----
BCDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABB
EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
GH12345678ABCDEFGH12345678ABCDEFGH12345678...
------END CERTIFICATE------
-----BEGIN CERTIFICATE-----
CDEFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABBB
EFGH12345678ABCDEFGH12345678ABCDEFGH12345678ABCDEF
GH12345678ABCDEFGH12345678ABCDEFGH12345678...
------END CERTIFICATE------
</pre>


## <a id='set-up-the-service-broker-tile'></a> Set Up the Service Broker Tile

1. Log in to Ops Manager.

1. If the AppDynamics Service Broker tile does not appear in the Installation Dashboard, click **Import a Product** in the left-side menu and import the AppDynamics tile.

1. Double-click the **AppDynamics** tile in the Installation Dashboard.

### <a id='appd-controller-config'></a> AppDynamics Controller Setup

<!--
  [//]: # TODO -- Update the following screenshot
  TODO -- include an example
  TODO -- Pavan/Jeft to review revised descriptions

  -->

1. In the **Settings** tab, click **AppDynamics Controller Configuration**. Then click **Add**.
![](./images/install-02-appd-controller-config-add.png)

1. Enter the following Service Plan options. All of these fields are required.
  * **Controller Configuration Name** -- A user-friendly name for this configuration profile. This name should include the Controller to which the Standalone Machine Agent reports.
  * **Controller Configuration Description** -- A more complete description of this configuration profile.
  * **Account Name** -- The account name used to access the Controller. You must specify an account with a valid App Agent license. To check this, do the following:
       * In the Controller, click the gear icon (top right) and choose **License > Account > License**.
       * In the **Account Usage** tab, under **APM Usage**, verify that the account has at least one available license unit for the type of application you are monitoring (Java, .NET, etc.).
  * **Account Access Key** -- The account access key used to authenticate with the Controller. In the Controller, click the gear icon (top right) and choose **License > Account > Access Key**.
  * **Controller Host** -- The host name or the IP address of the AppDynamics Controller. Example values are 192.168.1.22 or myhost or myhost.example.com. This is the same host that you use to access the AppDynamics browser-based user interface. For an on-premises Controller, use the value for Application Server Host Name that was configured when the Controller was installed. If you are using the AppDynamics SaaS Controller service, see the welcome email from AppDynamics.
  * **Controller Port** -- The HTTP (unencrypted) port used to access the AppDynamics Controller web interface. Defaults are 8090 (on-premise Controllers) and 80 (SaaS Controllers).
  * **SSL Port** -- The HTTPS (encrypted) port used to access the AppDynamics Controller web interface. Defaults are 8181 (on-premise Controllers) and 443 (SaaS Controllers).
    ![](./images/install-03-controller-config-options.png)

1. You can add multiple controller configurations by repeating steps 4 and 5. This will enable applications to bind to any of the entered configurations.

1. Click **Save** to save the changes and return to the Installation Dashboard.

<!--
[//]: # TODO -- # Previous screenshot is outdated. Also, some options have been removed. Pavan will give latest tile, Doug to update
-->

### <a id='appd-analytics-agent-config'></a> AppDynamics Analytics Agent Setup

If you have an AppDynamics Analytics license, and want to and view transaction analytics on the AppDynamics controller, install the Analytics Agent as described in [Configuring Transaction Analytics](./transaction_analytics.html).

### <a id='apply-updated-settings'></a> Apply All Updated Settings

1. In the Installation Dashboard, click **Apply Changes** and wait for all the changes to get applied.
