---
title: AppDynamics APM
owner: Partners
---

This is documentation for the Pivotal Cloud Foundry (PCF) [AppDynamics APM](https://network.pivotal.io/products/p-appdynamics) tile.

AppDynamics APM supports performance monitoring of application and machine metrics. 
AppDynamics agent code embedded or bundled with an application instruments the application code 
and publishes performance monitoring metrics and other details back to the AppDynamics APM Dashboard.

##<a id='product-snapshot'></a>Product Snapshot ##

The following table provides version and version-support information about <a href="https://network.pivotal.io/products/p-appdynamics">AppDynamics APM</a> for Pivotal Cloud Foundry:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.2.4</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>January 8, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>AppDynamics Machine Agent v4.2.10.0<br>AppDynamics Database Agent v4.2.15.18<br>AppDynamics Analytics Agent v4.1.8.0</td>
    </tr>		
    <tr>		
        <td>Compatible Ops Manager version(s)</td>		
        <td>v1.7.x, v1.8.x, v1.9.x, v1.10.x, v1.11.x, and v1.12.x</td>		
    </tr>		
    <tr>		
        <td>Compatible Elastic Runtime version(s)</td>		
        <td>v1.7.x, v1.8.x, v1.9.x, v1.10.x, v1.11.x, and v1.12.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

##<a id='trial'></a>Trial License ##

Users interested in AppDynamics can sign up for a [free trial license](https://portal.appdynamics.com/account/signup/signupForm).

##<a id="install"></a> Installing and Configuring ##
  * [Installing and Configuring AppDynamics APM](installing.html)
  * [Configuring Database Monitoring](database_monitoring.html)
  * [Configuring Transaction Analytics](transaction_analytics.html)

##<a id="upgrade"></a> Upgrading ##
  * [Upgrading to AppDynamics APM 1.0.1](upgrade_to_1_0_1.html)
  * [Upgrading to AppDynamics APM 1.1.1](upgrade_to_1_1_1.html)
  * [Upgrading to AppDynamics APM 1.1.2](upgrade_to_1_1_2.html)
  * [Upgrading to AppDynamics APM 1.2.0](upgrade_to_1_2.html)
  * [Upgrading to AppDynamics APM 1.2.1](upgrade_to_1_2_1.html)
  * [Upgrading to AppDynamics APM 1.2.2](upgrade_to_1_2_2.html)
  * [Upgrading to AppDynamics APM 1.2.4](upgrade_to_1_2_4.html)

##<a id='offline-dependencies'></a>Packaging Dependencies for Offline Buildpacks##

If you are running PCF offline, you should recreate and package the dependencies, including AppDynamics agent binaries via offline buildpacks, in your PCF environment.

Review the [Packaging Dependencies for Offline Buildpacks](http://docs.pivotal.io/pivotalcf/buildpacks/depend-pkg-offline.html) topic for more information.

* Currently supported Buildpacks bundling AppDynamics Agent are the Java and PHP Buildpacks.
    * Java Buildpack v3.4 and later
      * https://github.com/cloudfoundry/java-buildpack
    * PHP Buildpack v4.3.45 and later
       * https://github.com/cloudfoundry/php-buildpack
    * NodeJS Buildpack v1.6.13 and later
       *  https://github.com/cloudfoundry/nodejs-buildpack
    * IBM WebSphere Liberty Buildpack
       * Use the custom AppDynamics buildpack https://github.com/Appdynamics/ibm-websphere-liberty-buildpack which identifies the AppDynamics service

##<a id='feedback'></a>Feedback ##

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).
