---
title: Release Notes for AppDynamics Tile
owner: Partners
---

<p class="note"><strong>Note:</strong> Upgrades from AppDynamics v1.x are not supported. If you previously installed AppDynamics v1.x, uninstall it and install the latest version.</p>

## <a id='44407'></a> 4.4.407

**Release Date:** August 28, 2018

- Maintenance release
- Analytics Agent uses offline Java buildpack to cater cloudfoundry installations that donot have access to GitHub to fetch buildpacks on the fly



## <a id='44358'></a> 4.4.358

**Release Date:** August 15, 2018

- Maintenance release
- Updated libraries used by Machine Agent's PCF extension
- Dashboard UI improvements


## <a id='44335'></a> v4.4.337

**Release Date:** July 23, 2018

##### Features

- Added Transactional Analytics Support.


## <a id='44335'></a> v4.4.335

**Release Date:** July 16, 2018

##### Features

- Improvements in dashboard application
- Simplified SSL enabled communication configuration between tile and AppDynamics Controller 
- Set the certificate in the security-config of the OpsManager Director e.g: https://docs.pivotal.io/pivotalcf/2-0/customizing/vsphere-config.html#security-config and Tile will pick it up. 


## <a id='44322'></a> v4.4.322

**Release Date:** July 12, 2018

##### Features

- Simplified SSL configuration for SAAS AppDynamics controllers, but importing DigiCert Root CA automatically to key store. 
- Dashboard improvements. 


## <a id='44244'></a> v4.4.244

**Release Date:** June 19, 2018

##### Features

- Improvements to the AppDynamics Dashboard Application
- Fixes issues noticed on AppDynamics Dashboard Application installation on some private cloud deployments. 


## <a id='44231'></a> v4.4.231

**Release Date:** June 11, 2018

##### Features

This major release now contains AppDynamics Machine Agent and an extension that talks to a custom nozzle and collects KPI metrics of the cloud-foundry environment.
Also, a dashboard application is included that automatically generates the custom dashboard on AppDynamics Controller. For more information, see [AppDynamics KPI Dashboard and Metrics](https://docs.pivotal.io/partners/appdynamics/kpi-dashboard.html).

The tile contains:

- AppDynamics Service Broker, for instrumentation of applications
- AppDynamics Machine Agent, for collecting KPI metrics through Loggregator
- AppDynamics Dashboard Application, for displaying the above collected metrics in a neat UI dashboard on controller

### Limitations

The tile requires having 

- PCF Ops Manager: v2.0.7 or higher, or any v2.1.x or v2.2.x versions

<p class="note"><strong>Note:</strong> The tile cannot be used for OpsManager with Cloud Foundry versions higher than v2.0.7, since the Loggregator component (reverse_log_proxy) needed for extracting the KPI metrics is not exposed.</p>


## <a id='44135'></a> v4.4.135

**Release Date:** May 2, 2018

#### APM-only Release

##### Features

* Tile now packages the vendor dependencies of the service broker instead of just specifying them in requirements file.
This is to enable installs of customers without access to standard pypi.org servers for Python package installs.


## <a id='4487'></a> v4.4.91

**Release Date:** April 24, 2018

#### APM-only Release

##### Features

* New Service Broker implements OpenServiceBrokerApi(2.11)
* Lighter on Memory Requirement
* Works only with PCF v2.0 or higher

##### Limitations

* Machine Agent metrics based on the old JMX bridge have been deprecated.
