---
title: Upgrading to AppDynamics APM v1.2.2
owner: Partners
---

This topic describes how to upgrade to v1.2.2 of the AppDynamics APM tile for Pivotal Cloud Foundry (PCF).

## <a id='version'></a>v1.2.2

**Release Date: September 22, 2017**

Features included in this release:

 - Updates to stemcell 3445 to patch Ubuntu Linux kernel security vulnerability (USN-3385-2)

## <a id='upgrade'></a>Upgrade AppDynamics APM

1. In PCF Ops Manager, click **Import a Product** to import the new tile binary.
  ![Import Product](../images/Ops_Manager1.png)

1. After the binary is imported, click **Upgrade** on the left panel for AppDynamics. 
  ![Upgrade](../images/Ops_Manager2.png)

1. Follow the procedures in the topics below:
  - [Configuring Database Monitoring](database_monitoring.html)
  - [Configuring Transaction Analytics](transaction_analytics.html)

1. Update to stemcell version to **3445** if prompted. 

1. Click **Apply Changes**.
