---
title: Upgrading to AppDynamics APM v1.2.1
owner: Partners
---

This topic describes how to upgrade to version 1.2.1 of the AppDynamics APM tile for Pivotal Cloud Foundry (PCF).

## <a id='version'></a>v1.2.1

**Release Date: May 16, 2017**

Features included in this release:

 - Fix for CVE-2017-4975
 - Update stem cell version to **3363.22**

## <a id='upgrade'></a>Upgrade AppDynamics APM

1. In PCF Ops Manager, click **Import a Product** to import the new tile binary.
  ![Import Product](../images/Ops_Manager1.png)

1. After the binary is imported, click **Upgrade** on the left panel for AppDynamics. 
  ![Upgrade](../images/Ops_Manager2.png)

1. Follow the procedures in the topics below:
  - [Configuring Database Monitoring](database_monitoring.html)
  - [Configuring Transaction Analytics](transaction_analytics.html)

1. Update to stemcell version **3363.22** if prompted. 

1. Click **Apply Changes**.
