---
title: Upgrade Instructions for AppDynamics Tile
owner: Partners
---

## <a id='Upgrading from Previous Releases'></a>Upgrading from Previous Releases

To use this version of the AppDynamics tile, uninstall the previous tile and do a fresh install of this release.
